#header {
  display: block;
  margin: auto;
  width: 900px;
}
#wreath {
  margin-left: 234px;
  margin-top: -2px;
}
#navigation {
  //border: thin solid black;
  display: flex;
  justify-content: center;
  width: 900px;
}
#navigation a:link {
    color: black;
    text-decoration: none;
}
#navigation a:hover {
    color: #6AA581;
}
a:visited {
    color: black;
}
#navigation {
  width: 900px;
  height: 65px;
}
#navigation ul{
  //border: thin solid black;
  margin: 0px;
  padding: 0px;
  width: 418px;
}
#navigation li{
  //border: thin solid black;
  list-style: none;
  display: inline-block;
  font-family: 'Berkshire Swash', cursive;
  text-decoration: none;
  //font-family: 'Karma', cursive;
  padding: 20px;
  font-size: 20px;
  height: 68px;
}
.container{
  max-width: 900px;
}
#footer{
  //border: thin solid black;
  margin: auto;
  padding-top: 60px;
  width: 900px;
  text-align: center;
}
#footer p{
  color: black;
  font-size: 12px;
}
